extends layout

block content
  div.row-fluid
    div#LogoDiv.span8
    div.pull-right
      div#Avatar
      p Joe Subscriber
  div.row-fluid
    div.infotile.span2.veryBad
      p Visitors
      h1 23.4k
      p.indi ▼
    div.infotile.span2.veryGood
      p Revenue
      h1 $503
      p.indi ▲
    div.infotile.span2.bad
      p Jobs per Visitor
      h1 2.31
      p.indi ▼
    div.infotile.span2.veryGood
      p Time / Job
      h1 1d 23h
      p.indi ▼
  div.row-fluid
    div.infotile.span2
      p Top Referrers
      ol
        li TechCrunch.com
        li reddit.com
        li businessinsider.com
        li theverge.com
        li venturebeat.com
    div.infotile.span2.veryBad
      p Freeloaders
      h1 5,212
      p.indi 13.2% ▲
    div.infotile.span2.veryGood
      p Jobs Completed
      h1 89%
      p.indi ▲
//    div#worldmap.span4.offset2
      script(type='text/javascript', src="http://d3js.org/d3.geo.projection.v0.min.js")
      script(type='text/javascript', src="http://d3js.org/topojson.v1.min.js")
      script(type='text/javascript', src='/d3/worldmap.js')
    

  
  

  