extends layout

block content
  
  div.row-fluid
    div.infotile.span2.veryBad
      p Visitors
      h1 23.4k
      p.indi ▼
    div.infotile.span2.veryGood
      p Revenue
      h1 $503
      p.indi ▲
    div.infotile.span2.bad
      p Jobs per Visitor
      h1 2.31
      p.indi ▼
    div.infotile.span2.good
      p Time / Job
      h1 1d 23h 7m
  div.row-fluid
    div.infotile.span2
      p Top Referrers
      h2 1 TechCrunch.com
      h2 2 reddit.com
      h2 3 businessinsider.com
      h2 4 theverge.com
      h2 5 venturebeat.com
    div.infotile.span2.veryBad
      p Freeloaders
      h1 5,212
      p.indi ▼
    div.infotile.span2.veryGood
      p Jobs Completed
      h1 89%
      p.indi ▲
//    div#worldmap.span4.offset2
      script(type='text/javascript', src="http://d3js.org/d3.geo.projection.v0.min.js")
      script(type='text/javascript', src="http://d3js.org/topojson.v1.min.js")
      script(type='text/javascript', src='/d3/worldmap.js')
    

  
  

  