extends layout

block content
    script(type='text/javascript', src='/js/map.js')
    script(type='text/javascript', src='/js/lib/canvasjs.js')
    script(type='text/javascript', src='/js/chart.js')
    script(type='text/javascript', src='/js/lib/jquery.knob2.js')
    div.row-fluid
        div#LogoDiv.span8
        div.pull-right
          div#Avatar
            p Advertiser
    div.row-fluid
        div.largetile.span6.veryGood(style="height: 386px; margin-top: 5px; margin-right: 4px")
            div#chartContainer
        div.infotile.start.span2.bleh
            p Details
            div.tileText
                span Dataset: crimes.csv
                br
                span Export To: Azure
                br
                span Job Cost: $5.00
        div.infotile.start.span2.bad
            p Time to Completion
            h1(id='timer', style="font-size: 5em");
         div.infotile.veryGood.span2
            p Jobs Done Today
            h1#jobsDone &nbsp;
            span.livejobs-sparkline &nbsp;  
        div.infotile.start.span2.veryBad
            p Freeloaders
            h1 5,212
            p.indi ▲ 
            span.freeloaders-sparkline &nbsp;
        
