extends layout

block content
    
    div#map
      //script(type='text/javascript', src="http://d3js.org/d3.geo.projection.v0.min.js")
      //script(type='text/javascript', src="http://d3js.org/topojson.v1.min.js")
      svg
        circle(class="little", cx="180",cy="45", r="20")
        circle(class="little", cx="60",cy="90", r="20")
        circle(class="little", cx="300",cy="135", r="20")
      script(type='text/javascript', src='/js/map.js')
      img(src='/img/worldmap.png', width='800', height='476')