extends layout

block content
    
    div#map
      //script(type='text/javascript', src="http://d3js.org/d3.geo.projection.v0.min.js")
      //script(type='text/javascript', src="http://d3js.org/topojson.v1.min.js")
      svg#mapgraph

      script(type='text/javascript', src='/js/map.js')