extends layout

block content
    div.row-fluid
        div#LogoDiv.span8

    div.row-fluid
        script(type='text/javascript', src='/js/map.js')
        div#map.span1
            svg#mapgraph
        div.map.infotile.veryGood.span2(style="display: none;")
            p Clients Connected
            h1#clientsConnected &nbsp;
            span.liveclients-sparkline &nbsp;            
        div.map.infotile.veryGood.span2(style="display: none;")
            p Jobs Done Today
            h1#jobsDone &nbsp;
            span.livejobs-sparkline &nbsp;
        div.infotile.span2.veryBad#userButton
            p Visitors
            h1 23.4k
            p.indi ▼
            span.visitors-sparkline &nbsp;
        div.infotile.start.span2.veryGood
            p Revenue
            h1 $503
            p.indi ▲
            span.revenue-sparkline &nbsp;
        div.infotile.start.span2.bad
            p Jobs per Visitor
            h1 2.31
            p.indi ▼
            span.jobs-sparkline &nbsp;
        div.row-fluid
        div.infotile.start.span2.bleh
            p Top Referrers
            ol
                li TechCrunch.com
                li reddit.com
                li businessinsider.com
                li theverge.com
        div.infotile.start.span2.veryBad
            p Freeloaders
            h1 5,212
            p.indi ▲ 
            span.freeloaders-sparkline &nbsp;
        div.infotile.start.span2.veryGood
            p Jobs Completed
            h1 89%
            p.indi ▲
            span.completed-sparkline &nbsp;
