body {
  font-family: "Segoe UI",sans-serif;
  margin: 100px 40px 40px;

}
#topnav{
  min-height: 80px;
  background-image: none;
  background-color: transparent !important;
  border: none;
  -webkit-box-shadow: none;
  font: "Segoe UI" 18px;
  
}
.infotile{
  height: 240px;
  min-width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  margin: 5px !important;
}