body {
  font-family: "Segoe UI",sans-serif;
  margin: 10px 40px 40px;
  color: #333;
  background-color: #111;
}
#topnav{
  min-height: 80px;
  background-image: none;
  background-color: transparent !important;
  border: none;
  -webkit-box-shadow: none;
  font-family: "Segoe UI";
  font-size: 18px;
  color: #000;
}
.infotile {
  height: 188px;
  min-width: 300px;
  background-color: #eeeeee;
  padding: 0px;
  margin: 5px !important;
  position: relative;
}

#LogoDiv {width: 142px;
          height: 82px;
          background-image: url(/img/Logo.png);
          background-repeat: no-repeat;
          margin-left: 5px;
          margin-bottom: 5px;
}
#Avatar {
  width: 60px;
  height: 60px;
  background-image: url(/img/Avatar.png);
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-bottom: 5px;
}

.veryBad {
  background-color: #bd362f;
  border-bottom: 9px solid #f66;
}

.veryGood {
  background-color: #51a351;
  border-bottom: 9px solid #62c462;
}

.bad {
  background-color: #f89406;
  border-bottom: 9px solid #fbb450;
}

.good {
  background-color: #ccffcc;
  border-bottom: 5px solid #6f6;
}

h1 {
    margin: -10px 0px 0px 0px;
    font-size: 86px;
    line-height: 78px;
    font-weight: 100;
}
h2 {font-size: 26px;
    line-height: 34px;
    font-weight: 100;
}

.infotile h1 {
  margin-left: 10px;
}

.infotile p {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 24px;
  font-weight: lighter;
}

.veryGood, .veryBad, .good, .bad { color: #eeeeee; }

p.indi {
  position: absolute;
  top: 4px;
  right: 4px;
  text-align: right;
  font-size: 30px;
}

.infotile li {font-size: 24px;
    line-height: 28px;
    margin-left: 25px;
    font-weight: 100;
}