body {
  font-family: "Segoe UI",sans-serif;
  margin: 100px 40px 40px;

}
#topnav{
  min-height: 80px;
  background-image: none;
  background-color: none;
  border: none;
}
.infotile{
  height: 300px;
  min-width: 300px;
  background-color: #cccccc;
  padding: 20px;
  margin: 10px;
}