#map {
    width: 920px;
    height: 610px;
    float:  left;
    display: none;
    margin: 5px;
}

.map {
    display: none;
}

#linearGraphJobs {
    display: none;
}

#map svg {
    background-image: url('/img/worldmap.png');
    background-repeat: no-repeat;
    background-size: cover;
}

circle {
  fill: #f8e277;
  stroke: #fca114;
  stroke-width: 5px;
}

circleFill {
    fill: #1e1e2e;
}

svg {
  font: 10px sans-serif;
  color: #feb212;
}
 
.line {
  fill: none;
  stroke: #f6e16e;
  stroke-width: 5px;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #f6e16e;
  shape-rendering: crispEdges;
}

#linearGraphJobs {
    position: absolute;
}

.graph{
    background-color: #333333;
}

.graph p {
    color: #fff
}